<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.steroidteam.todolist">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/asteroid_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/asteroid_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Asteroid">
        <activity android:name=".view.DrawingActivity"></activity>
        <activity android:name=".view.ListSelectionActivity"></activity>
        <activity
            android:name=".view.NoteDisplayActivity"
            android:parentActivityName=".view.NoteSelectionActivity" />
        <activity android:name=".view.NoteSelectionActivity" />
        <activity
            android:name=".view.ItemViewActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>